<div>
  <p> Hello <%= current_user.email %> </p>
  <%= link_to "Create new project", new_project_path %>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "logout" %>
</div>

<div id="projects">
  <% @projects.each do |project| %>
    <%= div_for project do %>
      <p> <%= project.name %> </p>
    <% end %>
  <% end %>
</div>
